<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="materialContainer">


        <div class="box">
     
           <div class="title">LOGIN</div>
            
           <div class="input">
              <label for="name"></label>
              <input type="text" name="name" id="name" [(ngModel)]="user" placeholder="Usuario">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <label for="pass"></label>
              <input type="password" name="pass" id="pass" [(ngModel)]="contras" placeholder="Contraseña">
              <span class="spin"></span>
           </div>
     
           
            <button class="btn btn-primary m-1" style="position: fixed; top: 70%; right: 52%; width: 150px; height: 50px;" (click)="Ingresar()" >Ingresar</button>
            <button class="btn btn-primary m-1" style="position: fixed; top: 70%; right: 13%; width: 150px; height: 50px;" (click)="Registrar()">Registrar</button>

            <button class="btn btn-primary m-1" style="position: fixed; top: 84%; right: 13%; width: 330px; height: 50px;" (click)="Completar()">Usuario "Fran"</button>
            

        </div>     
     </div>

     <div class="mensajeAlerta">
      {{mensaje}}
      </div>
</body>
</html>
