<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="materialContainer">


        <div class="box">
     
           <div class="title">LOGIN</div>
            
           <div class="input">
              <label for="name"></label>
              <input type="text" name="name" id="name" [(ngModel)]="user" placeholder="Usuario">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <label for="pass"></label>
              <input type="password" name="pass" id="pass" [(ngModel)]="contras" placeholder="Contraseña">
              <span class="spin"></span>
           </div>
     
           <div class="button login">
              <button (click)="Ingresar()"><span>Ingresar</span> <i class="fa fa-check"></i></button>
           </div>
        </div>
     
       
     
     </div>
</body>
</html>
