<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>

        <h1 class="container" style="font-size: 80px; color: aliceblue;"> Quien Soy </h1>

        <div class="container">
            <div class="center">
                <button style="height:50px;width:200px; font-size: larger;" class="btn btn-primary m-1" routerLink="/home"> Home</button>
            </div>
        </div>

        <br><br>
        <h2 class="container" style="color: aliceblue;">Nombre: Francisco Diaz Barbacovi</h2>
        <h2 class="container" style="color: aliceblue;">DNI: 40125339</h2>
        <h2 class="container"style="color: aliceblue;">Edad: 25 años</h2>
        <img src="../../../assets/FotoFran.jpg" alt="" width="250" height="auto" style="position: absolute; top: 18%; left: 1%;">
        <br><div style="border-bottom: 3px solid aliceblue; max-width: 50%;"></div><br>
        <h4 style="position: relative; left: 10%;" style="color: aliceblue;">Todavia no elegi un juego para hacer, estuvo medio ocupado en la semana por cuestiones fuera de la facultad y apenas pude realizar algo del Primer Sprint.<br>
        Para el proximo Sprint ya voy a estar con la idea del juego pensada.</h4>
        
</body>
</html>
